.container {
    height: 100%;
    z-index: 2;
    position: relative;

    color: white;
    font-size: 1.2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

span {
    color: rgb(38, 198, 218);
    font-weight: 700;
}

img {
    width: 400px;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 20px;
}

img:hover {
    transform: scale(1.04);
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.character-info {
    font-size: 1.5rem;
}

.btn {
    width: 100%;
    border-radius: 10px;
    padding:1em 10em;
    background-color: rgb(38, 198, 218);
    color: white;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 5em;
}

.btn:hover {
    background-color: rgb(198, 255, 0);
    color: rgb(38, 198, 218);
    cursor: pointer;
}

.status-circle {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 100%;
    margin: 0 10px;
}

.Alive {
    background-color: greenyellow;
}

.Dead {
    background-color: red;
}

.unknown {
    background-color: gray;
}

/*MEDIA QUERIES*/

@media (max-width: 600px){

    .info {
        border: 2px solid white;
        padding: 0 2em;
    }

    img {
        width: 300px;
    }
}