header {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  margin: 0;
  padding: 0.5em 1em;
  color: white;
}

nav {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
}

nav p {
  font-size: 1.5rem;
  color: rgb(38, 198, 218);
}

nav p:hover,
nav a:hover {
  color: rgb(198, 255, 0);
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: rgb(38, 198, 218);
}

input {
  width: 900px;
  padding: 1em;
  color: rgb(38, 198, 218);
  border: 2px solid rgb(38, 198, 218);
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1.25rem;
}

input:focus {
  outline: none;
  color: rgb(198, 255, 0);
  border: 2px solid rgb(198, 255, 0);
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-img {
  width: 100px;
  height: 100px;
}

.logo p {
  font-weight: 400;
  font-size: 1.7rem;
}

/*MEDIA QUERIES*/

@media (max-width: 1700px) {
  nav {
    flex-direction: column;
  }
}

@media (max-width: 960px) {
  input {
    width: 90%;
  }
}

