
.container {
    font-family: 'League Spartan', sans-serif;
    border: 1px solid green;
    /* width: 95vw; */
    /* height: 100%; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.card-container {
    width: 1000px;
    height: 100%;
}

.card {
    width: 300px;
    height: 350px;
    
    position: relative;
    border: 1px solid black;
    border-radius: 20px;
}

.card img {
    width: 100%;
    height: 65%;
    object-fit: fill;
    border: none;
    border-radius: 20px;
}

.card-info {
    padding: 0 1em;
    margin: 0;
}

.name {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.status,.species {margin: 0;}

.gender {margin: 5px 0;}



.card-id {
    position: absolute;
    background-color: white;
    top: 5px;
    right: 10px;
    margin: 0;
    padding: 0.2em 1em;
    border: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 300;
}

span {
    font-weight: bold;
}

/*EFFECTS*/

.card:hover {
    transform: scale(1.03);
}