<footer>
  <p  class="nickname">
    Design by
    <span 
      ><a href="https://github.com/jhonaquejadau" target="_blank">jaqudev_</a>
    </span>
  </p>
  <div class="social">
    <a href="https://github.com/jhonaquejadau" target="_blank">
      <img src="../../../assets/github.svg" alt="github" />
    </a>
    <a
      href="https://www.linkedin.com/in/jhon-alexander-quejada-urrutia-022763230/"
      target="_blank"
    >
      <img src="../../../assets/linkedin.svg" alt="linkedin" />
    </a>
    <a href="https://twitter.com/jaqudev_" target="_blank">
      <img src="../../../assets/twitter.svg" alt="twitter" />
    </a>
  </div>
</footer>
